body {
    background: gray;
}

input[type=text] {
    height: 40px;
}

.display-flex {
    display: flex;
}

button {
    height: 40px;
}

.status-row {
    display: flex;
}
.status-row .left {
    flex: 1 1 auto;
}
.status-row .right {
    flex: 0 1 auto;
    background: url(res/spinner.gif) -10px -6px no-repeat;
    width: 37px;
}

.connection-status.orange {
    color: orange;
}

.connection-status.green {
    color: darkgreen;
}

.connection-status.red {
    color: red;
}

.video-title {
    font-weight: bold;
}

.video-description {
    max-height: 150px;
    overflow: scroll;
}

.controls-row {
    display: flex;
    margin-bottom: 5px;
}

.controls-row .no-clipboard-access {
    display: flex;
    flex: 1 1 auto;
}

.controls-row .no-clipboard-access .youtube-url-input {
    flex: 1 1 auto;
}

.section-title {
    flex: 1 1 auto;
    margin: 0px;
    min-width: 130px;
}

.tip {
    border: 1px solid black;
    padding: 5px 10px;
    background: silver;
}

.tip a {
    white-space: nowrap;
}